/*css for GeoJSON*/

html, body, #map {
	height: 100%;
	width: 100%;
	margin: 0;
}

#t01 tr:nth-child(even) {
    background-color: #eee;
}

#t01 tr:nth-child(odd) {
    background-color: #fff;
}

#t01 th {
    color: white;
    background-color: black;
}

/* visited link */
a:visited {
    color: white;
}