/*css for GeoJSON*/

html, body, #map {
    z-index: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #bcbcbc;
}

#crosswalkSurvey td {
    color:black;
}

#crosswalkSurvey tr:nth-child(even) {
    background-color: #eee;
}

#crosswalkSurvey tr:nth-child(odd) {
    background-color: #fff;
}

#crosswalkSurvey th {
    color: white;
    background-color: black;
}

/* visited link */
a:visited {
    color: white;
}

#buttons {
    z-index: 1;
    width: auto;
    height: auto;
    position: absolute;
}

#sidewalksButton {
    color: blue;
    cursor: pointer;
}

#crosswalksButton {
    color: red;
    cursor: pointer;
}

#hotelsButton {
    color: green;
    cursor: pointer;
}

.legend, table, tr {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:lightgrey;
    color:green;
}

.legend {
    top:10px;
    right:10px;
    position: fixed;
}

.legend td {
    font-size:200%;
}

.legend #tinyText {
    font-size:100%;
}

.coolTable th {
    background-color:purple;
    color:green;
}